<h2>รายละเอียดร้าน</h2><hr>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">รายละเอียดร้าน</h3>
      </div>
        <div class="panel-body">
			<table class="table table-striped table-hover table-condensed">
			    <thead>
			      <tr>
			        
			        <th>ชื่อร้าน</th>
			        <th>เจ้าของร้าน</th>
			        <th>อีเมลล์</th>
			        <th>เบอร์โทรศัพท์</th>
			        <th>Billing ID</th>
		        			     
			      </tr>
			    </thead>
			  </tbody>
			</table>
  </div>