 <h2>เพิ่ม-ลดเมนู</h2>
 <div class="container">
            <div class="col-sm-6">
                <div class="panel bg-body">
                    <div class="panel-heading bg-header">
                        รายการอาหารหวาน</div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>ลำดับ</th>
                                    <th>รายการอาหาร</th>
                                   
                                    <th>ราคา</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>ลูกตาลลอยแก้ว</td>
                                    <td>35.-</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>กล้วยบวชชี</td>
                                    <td>35.-</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>ข้าวเหนียวทุเรียน</td>
                                    <td>40.-</td>
                                </tr>
                            </tbody>
                            <tfoot>
            

                                    <td colspan="4"><button class="btn btn-primary">เพิ่มเมนู</button></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

            </div>
           
    </div>
