    <h2>เพิ่ม-ลดเมนู</h2>
 <div class="container">
            <div class="col-sm-6">
                <div class="panel bg-body">
                    <div class="panel-heading bg-header">
                        รายการเครื่องดื่ม</div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>ลำดับ</th>
                                    <th>รายการอาหาร</th>
                                   s
                                    <th>ราคา</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>ชาเขียว</td>
                                    <td>35.-</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>น้ำแร่</td>
                                    <td>35.-</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>นมสด</td>
                                    <td>40.-</td>
                                </tr>
                            </tbody>
                            <tfoot>
            

                                    <td> <%= link_to "เพิ่มเมนู", add_menu_restuarant_path(:id), class: "btn btn-primary" %></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

            </div>
           
    </div>
