

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"> Menu List </h1>

             <%= link_to "Drinking", drinking_menu_lists_path%>
</div>
<div class="col-lg-3 col-md-4 col-xs-6 thumb">
    <a class="thumbnail" href="#">
        <img class="img-responsive" src="http://placehold.it/400x300" alt="">
    </a>
    <center><font size = "2">Menu1</font></center><br>
</div>


<div class="col-lg-3 col-md-4 col-xs-6 thumb">
    <a class="thumbnail" href="#">
        <img class="img-responsive" src="http://placehold.it/400x300" alt="">
    </a>
    <center><font size = "2">Menu2</font></center><br>
</div>
<div class="col-lg-3 col-md-4 col-xs-6 thumb">
    <a class="thumbnail" href="#">
        <img class="img-responsive" src="http://placehold.it/400x300" alt="">
    </a>
    <center><font size = "2">Menu3</font></center><br>
</div>
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="http://placehold.it/400x300" alt="">
        </a>
        <center><font size = "2">Menu4</font></center><br>
    </div>
<div class="col-lg-3 col-md-4 col-xs-6 thumb">
    <a class="thumbnail" href="#">
            <img class="img-responsive" src="http://placehold.it/400x300" alt="">
    </a>
    <center><font size = "2">Menu5</font></center><br>
</div>
<div class="col-lg-3 col-md-4 col-xs-6 thumb">
    <a class="thumbnail" href="#">
        <img class="img-responsive" src="http://placehold.it/400x300" alt="">
    </a>
    <center><font size = "2">Menu6</font></center><br>
</div>
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#">
        <img class="img-responsive" src="http://placehold.it/400x300" alt="">
        </a>
        <center><font size = "2">Menu7</font></center><br>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="http://placehold.it/400x300" alt="">
        </a>
        <center><font size = "2">Menu8</font></center><br>
</div>
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="http://placehold.it/400x300" alt="">
        </a>
        <center><font size = "2">Menu9</font></center><br>
</div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#">
                <img class="img-responsive" src="http://placehold.it/400x300" alt="">
            </a>
            <center><font size = "2">Menu10</font></center><br>
</div>
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="http://placehold.it/400x300" alt="">
        </a>
        <center><font size = "2">Menu11</font></center><br>
</div>
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="http://placehold.it/400x300" alt="">
        </a>
        <center><font size = "2">Menu12</font></center><br>
    </div>
     <center><a href="http://www.google.co.th">1</a>   <a href="http://www.facebook.com">2</a> 
     <a href="http://www.sanook.com">3</a></center>
     <%=link_to "Show Relate",showusers_showusers_path%> 
     <%=link_to "Layout Table",new_table_path%> 
     
</div>
<hr>



