 <div ng-controller="ListingController" >   
  <div class="form-group"> 
    <div role="tabpanel" class="tab-pane active" id="home">
    <label class="col-sm-2 control-label" >ชื่อเมนู : </label>
      <div class="col-sm-5" >
        <ui-select ng-model="dish.selected" theme="bootstrap" ng-disabled="disabled" reset-search-input="false"  >
          <ui-select-match  placeholder="ชื่อเมนู..." >{{$select.selected.dish_name || "ชื่อเมนู" }}

          </ui-select-match>
          <ui-select-choices repeat="dish in dishs" refresh="refreshAddresses($select.search)" refresh-delay="0">
            <div>{{dish.dish_name}}</div>
          </ui-select-choices>
        </ui-select> 
      </div>
      </div>
  </div>
 <div>     
<div class="row">
    <div class="col-sm-9">
      <h1> Menulist </h1>

    </div>

    <div class="col-sm-3 text-right">
        <button type="button" class="btn btn-warning form-control"  data-toggle="modal" data-target="#myModal4"><i class="fa fa-plus"></i>  สั่งอาหาร
      </button>
    </div>
</div>
<hr>
<div class="panel panel-default listingshoadow">
  <div role="tabpanel">
    <ul class="nav nav-pills  nav-justified gradient border-listing " role="tablist">
      <li role="presentation" class="active"><a href="#carousel" aria-controls="carousel" role="tab" data-toggle="tab">อาหารคาว</a></li>
      <li role="presentation"><a href="#banner_search" aria-controls="banner_search" role="tab" data-toggle="tab">อาหารหวาน</a></li>
      <li role="presentation"><a href="#banner_listing" aria-controls="banner_listing" role="tab" data-toggle="tab">เครื่องดื่ม</a></li>
    </ul>

    </br>
    <div class="tab-content ">
      <div role="tabpanel" class="tab-pane active" id="carousel">
     
      </div>

      <div role="tabpanel" class="tab-pane" id="banner_search">
      
      </div>

      <div role="tabpanel" class="tab-pane" id="banner_listing">
        
      </div>
  
    </div>
  </div>  
</div>


<div >
  <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">รายการอาหาร</h4>
        </div>
        <div class="modal-body">
          <div class="form-horizontal">
          <div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">อาหารคาว</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">อาหารหวาน</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">เครื่องดื่ม</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">ชุดเมนู</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
  <div class="form-group"> 
    <div role="tabpanel" class="tab-pane active" id="home">
    
  </div>    
    <div role="tabpanel" class="tab-pane" id="profile">รายการอาหารหวาน
    <nav>
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav></div>
    <div role="tabpanel" class="tab-pane" id="messages">รายการเครื่องดื่ม
    <nav>
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav></div>
    <div role="tabpanel" class="tab-pane" id="settings">ชุดเมนู
    <nav>
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav></div>
  </div>

</div>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="create_property()"data-dismiss="modal">ยืนยัน</button> 
          </div>
        </div>
      </div>
    </div>
  </div> 
<div>
 <button type="button" class="btn btn-success form-control"><i class="fa fa-cloud-upload"></i>  ส่งเข้าครัว
  </button>
</div>
