 <div class="container">
            <div class="col-sm-6">
                <div class="panel bg-body">
                    <div class="panel-heading bg-header">
                        รายการอาหาร</div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>ลำดับ</th>
                                    <th>รายการอหาร</th>
                                    <th>จำนวน</th>
                                    <th>ราคา</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>ข้าวมันไก่</td>
                                    <td class="col-md-1"><input value="1" class="form-control"></td>
                                    <td>35.-</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>ขนมจีบ</td>
                                    <td class="col-md-1"><input value="1" class="form-control"></td>
                                    <td>35.-</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>น้ำเปล่า</td>
                                    <td class="col-md-1"><input value="1" class="form-control"></td>
                                    <td>40.-</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>

                                    <td colspan="3" class="text-right">รวม</td>
                                    <td>110.-</td>
                                </tr>
                                <tr>

                                    <td colspan="4"><button class="btn btn-danger">ยืนยัน</button></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

            </div>
            <div class="col-sm-6">
                <div class="panel bg-body">
                    <div class="panel-heading bg-header">
                        รายการที่สั่ง
                    </div>
                    <div class="panel-body">
                        <div role="tabpanel">
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="home">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>ลำดับ</th>
                                                <th>รายการอหาร</th>
                                                <th>จำนวน</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>ข้าวมันไก่</td>
                                                <td class="col-md-1"><input value="1" class="form-control"></td>
                                                <td><button class="btn btn-success">สั่ง</button></td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>ข้าวมันไก่ทอด</td>
                                                <td class="col-md-1"><input value="1" class="form-control"></td>
                                                <td><button class="btn btn-success">สั่ง</button></td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>ข้าวมันไก่ผสม</td>
                                                <td class="col-md-1"><input value="1" class="form-control"></td>
                                                <td><button class="btn btn-success">สั่ง</button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="profile">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>ลำดับ</th>
                                                <th>รายการอหาร</th>
                                                <th>จำนวน</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>หนมจีบ</td>
                                                <td class="col-md-1"><input value="1" class="form-control"></td>
                                                <td><button class="btn btn-success">สั่ง</button></td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>ซาลาเปา</td><td class="col-md-1"><input value="1" class="form-control"></td>
                                                <td><button class="btn btn-success">สั่ง</button></td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>น้ำแข็งใส</td>
                                                <td class="col-md-1"><input value="1" class="form-control"></td>
                                                <td><button class="btn btn-success">สั่ง</button></td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                                <div role="tabpanel" class="tab-pane" id="messages">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>ลำดับ</th>
                                                <th>รายการอหาร</th>
                                                <th>จำนวน</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>เป๊บซี่</td>
                                                <td class="col-md-1"><input value="1" class="form-control"></td>
                                                <td><button class="btn btn-success">สั่ง</button></td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>โคล่า</td>
                                                <td class="col-md-1"><input value="1" class="form-control"></td>
                                                <td><button class="btn btn-success">สั่ง</button></td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>น้ำเปล่า</td>
                                                <td class="col-md-1"><input value="1" class="form-control"></td>
                                                <td><button class="btn btn-success">สั่ง</button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
