<h2>เพิ่ม-ลดเมนู</h2>
 <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
                <div class="container">
                    <div class="panel bg-body">
                        <div class="panel-heading bg-header">
                            <h3 class="panel-title col-sm-10">อาหารคาว</h3>
                            <div class="text-right"><button class="btn btn-success">เพิ่ม</button></div>
                        </div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>ลำดับ</th>
                                    <th>รายการ</th>
                                    <th>ราคา</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>ข้าวมันไก่</td>
                                    <td>35.-</td>
                                    <td>
                                        <button class="btn btn-primary">แก้ไข</button>
                                        <button class="btn btn-danger">ลบ</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>ข้าวมันไก่ทอด</td>
                                    <td>35.-</td>
                                    <td>
                                        <button class="btn btn-primary">แก้ไข</button>
                                        <button class="btn btn-danger">ลบ</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>ข้าวมันไก่ผสม</td>
                                    <td>35.-</td>
                                    <td>
                                        <button class="btn btn-primary">แก้ไข</button>
                                        <button class="btn btn-danger">ลบ</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="profile">
                <div class="container">
                    <div class="panel bg-body">
                        <div class="panel-heading bg-header">
                            <h3 class="panel-title col-sm-10">อาหารหวาน</h3>
                            <div class="text-right"><button class="btn btn-success">เพิ่ม</button></div>
                        </div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>ลำดับ</th>
                                    <th>รายการ</th>
                                    <th>ราคา</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>ข้าวมันไก่</td>
                                    <td>35.-</td>
                                    <td>
                                        <button class="btn btn-primary">แก้ไข</button>
                                        <button class="btn btn-danger">ลบ</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>ข้าวมันไก่ทอด</td>
                                    <td>35.-</td>
                                    <td>
                                        <button class="btn btn-primary">แก้ไข</button>
                                        <button class="btn btn-danger">ลบ</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>ข้าวมันไก่ผสม</td>
                                    <td>35.-</td>
                                    <td>
                                        <button class="btn btn-primary">แก้ไข</button>
                                        <button class="btn btn-danger">ลบ</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="messages">
                <div class="container">
                    <div class="panel bg-body">
                        <div class="panel-heading bg-header">
                            <h3 class="panel-title col-sm-10">เครื่องดื่ม</h3>
                            <div class="text-right"><button class="btn btn-success">เพิ่ม</button></div>
                        </div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>ลำดับ</th>
                                    <th>รายการ</th>
                                    <th>ราคา</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>ข้าวมันไก่</td>
                                    <td>35.-</td>
                                    <td>
                                        <button class="btn btn-primary">แก้ไข</button>
                                        <button class="btn btn-danger">ลบ</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>ข้าวมันไก่ทอด</td>
                                    <td>35.-</td>
                                    <td>
                                        <button class="btn btn-primary">แก้ไข</button>
                                        <button class="btn btn-danger">ลบ</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>ข้าวมันไก่ผสม</td>
                                    <td>35.-</td>
                                    <td>
                                        <button class="btn btn-primary">แก้ไข</button>
                                        <button class="btn btn-danger">ลบ</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>   
            </div>
        </div>