<h1>ร้านของคุณ</h1>

<body>
        <div class="container">
                <div class="panel bg-body">

                    <div class="panel-heading bg-header">
                        <div class="text-right"> 
                       <%= link_to new_restuarant_path, class: "btn btn-warning" do %> <i class="fa fa-search-plus"></i> เปิดร้านใหม่
                       <%end%>

                    </div>


                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                                <% @restuarants.each_with_index do |a, i| %>
                            <tr>
                                <td>
                                    <div class="col-sm-3 text-center">
                                     
                                        <%= a.restuarant_name %>
                                     <p>
                                    </p>
                                    <%=link_to( image_tag("restuarant.jpg"), restuarant_path(a)) %>
                                        <p>
                                        </p>
                                    <%= link_to 'ลบร้านค้า', restuarant_path(a), class: "btn btn-danger" , method: :delete, data: { confirm: 'คุณต้องการลบโต๊ะ?' }  %> 
                                        <hr>                  
                                        </div>  
                                    <%end%>

                                </td>
                            </tr>
                            <tr>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        
    </body>
</html>
</body>

