<hr>
    <div class="panel panel-primary" > 
        <div class="panel-heading gradient">
            <div class="col-md-5">
            <h3 style=" margin-top: 2%;"><i class="fa fa-home">&nbsp;</i> 
            ร้านของคุณ
            </h3>
       </div>
             <div class="text-right">
              <%= link_to new_restuarant_path, class: "btn btn-primary" do %> <i class="fa fa-search-plus"></i> เปิดร้านใหม่
              <%end%>
            </div>
        </div>
        <div class="panel-body ">
          <div class="form-horizontal">
      </div>
        <div class="panel-body">
            <table class="table table-striped table-hover table-condensed">
                  <% @restuarants.each_with_index do |a, i| %>
                        <div class="col-sm-3 text-center">
                          ร้าน <%= a.restuarant_name %>
                          <p>
                          </p>
                          <%=link_to( image_tag("home.jpg",width:'160' ,height:'160'), restuarant_path(a)) %>
                          <p>
                          </p>
                          <%= link_to restuarant_path(a), method: :delete, data: { confirm: 'คุณต้องการจะลบร้านค้า ?' }, 
                          class: 'btn btn-danger' do %><i class="fa fa-trash-o" ></i> ลบร้านค้า
                          <%end%>
                              <hr>                  
                        </div>  
                        <%end%>
            </table>
         </div>
        </div>
        </div>


