<h1>ร้านของคุณ</h1>

<body>
<div>
	<% @restuarants.each do |a| %>
	<%=a.restuarant_name%>
	<%= link_to "เข้าสู่ร้าน", restuarant_path(a), class: "btn btn-primary" %>
	<%= link_to 'Delete', restuarant_path(a), class: "btn btn-danger" , method: :delete, data: { confirm: 'Are you sure?' }  %>
</div>
	<%end%>
</body>