<%= form_for(@restuarant, url: restuarants_path) do |f| %>

   <div class="row">
      <div class="large-4 columns">
          <%= label_tag "restuarant" %><br>
          <%= text_field_tag "restuarant[restuarant_name]"%>
      </div>
    </div>

    	<div>
    	<%= submit_tag "Submit", class: "btn btn-success" %>
    	</div>
   <%end%>