
<h2>welcome to Swiftlet POS </h2>
please Login or Register!!

<body>
<div class="form-group">
     <div class="col-sm-offset-2 col-sm-10">
     <%= link_to "Login", new_user_session_path, class: "btn btn-primary" %>
     <%= link_to "Register", new_user_registration_path, class: "btn btn-success" %>
     </div>
</div>
</body>