<h2> ยินดีต้อนรับ คุณได้เข้าสู่ระบบเรียบร้อยแล้ว</h2>

<h3>เลือกเพื่อดำเนินการ</h3>

<body>
<div class="form-group">
     <div class="col-sm-offset-2 col-sm-10">
     <%= link_to "เข้าสู่ร้าน", restuarants_path, class: "btn btn-primary" %>
     <%= link_to "เปิดร้านใหม่", new_restuarant_path, class: "btn btn-success" %>
     </div>
</div>

</body>