<center><h1> Drinking </h1> </center>

 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">SwiftletPOS</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="#">Meat Dish</a></li>
        <li><a href="#">Drinking</a></li>
        <li><a href="#">Dessert</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<body>
    <div class="container">

        <div class="row">

            <div class="col-xs-3">

                <a href="#" class="thumbnail">

                    <img src="800x600.jpg" alt="Picture">

                </a>

            </div>

            <div class="col-xs-3">

                <a href="#" class="thumbnail">

                    <img src="125x125.jpg" alt="Picture">

                </a>

            </div>

            <div class="col-xs-3">

                <a href="#" class="thumbnail">

                    <img src="125x125.jpg" alt="Picture">

                </a>

            </div>

            <div class="col-xs-3">

                <a href="#" class="thumbnail">

                    <img src="125x125.jpg" alt="Picture">

                </a>

            </div>

        </div>

    </div>

    <br>

    <div class="container">

        <div class="row">

            <div class="col-xs-3">

                <a href="#" class="thumbnail">

                    <img src="800x600.jpg" alt="Picture">

                </a>

            </div>

            <div class="col-xs-3">

                <a href="#" class="thumbnail">

                    <img src="125x125.jpg" alt="Picture">

                </a>

            </div>

            <div class="col-xs-3">

                <a href="#" class="thumbnail">

                    <img src="125x125.jpg" alt="Picture">

                </a>

            </div>

            <div class="col-xs-3">

                <a href="#" class="thumbnail">

                    <img src="125x125.jpg" alt="Picture">

                </a>

            </div>

        </div>

    </div>

    <br>


    <div class="container">

        <div class="row">

            <div class="col-xs-3">

                <a href="#" class="thumbnail">

                    <img src="800x600.jpg" alt="Picture">

                </a>

            </div>

            <div class="col-xs-3">

                <a href="#" class="thumbnail">

                    <img src="125x125.jpg" alt="Picture">

                </a>

            </div>

            <div class="col-xs-3">

                <a href="#" class="thumbnail">

                    <img src="125x125.jpg" alt="Picture">

                </a>

            </div>

            <div class="col-xs-3">

                <a href="#" class="thumbnail">

                    <img src="125x125.jpg" alt="Picture">

                </a>

            </div>

        </div>

    </div>

</body>


    <footer>

 <center> <a href="http://www.google.com">1</a> </center>
 

    </footer>

 

 




